
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
.loading {
  background: lightgrey;
  padding: 15px;
  position: fixed;
  border-radius: 4px;
  left: 50%;
  top: 50%;
  text-align: center;
  margin: -40px 0 0 -50px;
  z-index: 2000;
  display: none;
}
.form-group.required label:after {
  content: " *";
  color: red;
  font-weight: bold;
}
.author-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float:left;
  clear:both;
}